
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    background: #b2ebf2;
}

#game-container {
    width: 100%;
    margin: auto;
    background: #b2ebf2;
    padding-bottom: 1em;
    border-radius: 4px;
}

#header {
    height: 6em;
}

#cards-container {
	width: 92vw;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 1vw 1vw 0 1vw;
    border-radius: 4px;
    border: 1px solid #006064;
    background: #fff;
}

.card {
	width: 22vw;
	height: 22vw;
	margin: 0 1vw 1vw 0;
	box-sizing: border-box;
	perspective: 600px;
    user-select: none;
    border-radius: 4px;
}

.card:nth-child(4n) {
	margin: 0 0 1vw 0;
}

.card img {
	width: 80%;
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #333;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 4px;
}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 4px;
}

.card.flip .front {
    z-index: 900;
    border-color: #eee;
    background: #333;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
  }


.card.flip .back {
    z-index: 1000;
    background: #fff url(../images/background.svg);
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }
