
body {
    font: 18px arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #b2ebf2;
}

#header {
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em 0 0 0;
}

/* Status bar */

#status-bar {
    height: 3em;
    display: flex;
}

#star-rating {
    flex: 0 0 3em;
    margin: 0 0 0 7%;
}

.star {
    display: inline;
    line-height: 3em;
}

#timer {
    flex: 1 1;
    line-height: 2em;
    text-align: center;
    font-size: 1.3em;
}

#restart {
    background: none;
    border: none;
    flex: 0 0 3em;
    font-size: 1.3em;
    cursor: pointer;
    outline: none;
    margin: 0 6% 0 0;
}

/* Cards */

#game-container {
    width: 100%;
    margin: auto;
    background: #b2ebf2;
    padding-bottom: 1em;
    border-radius: 4px;
}

#cards-container {
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 1% 1% 0 1%;
    border-radius: 4px;
    border: 1px solid #006064;
    background: #fff;
}

.row {
    display: flex;
    width: 100%;
}

.card {
    position: relative;
	margin: 0 2% 2% 0;
	box-sizing: border-box;
	perspective: 600px;
    user-select: none;
    border-radius: 4px;
    flex: auto;
}

.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.card:nth-child(4n) {
	margin: 0 0 2% 0;
}

.card img {
	width: 80%;
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #333;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 4px;
}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 4px;
}

.card.flip .front {
    z-index: 1;
    border-color: #eee;
    background: #333;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
}


.card.flip .back {
    z-index: 2;
    background: #fff url(../images/background.svg);
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

/* Moves */

#moves-indicator {
    margin: 0 0 0 0.5em;
    flex: 0 0 5em;
    line-height: 3em;
}

/* Popup */

#popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 4em;
    width: 85%;
    margin: auto;
    z-index: 1;
    background: #fff;
    border-radius: 4px;
    padding: 1em;
    max-width: 20em;
}

#popup-message {
    line-height: 1.3em;
}

#popup-footer {
    width: 100%;
    margin: 1em 0 0 0;
}

#popup-yes {
    float: right;
}

#popup-no {
    float: left;
}

.popup-button {
    border-radius: 10px;
    width: 4em;
    height: 2em;
    background: #006064;
    color: #fff;
    font-size: 1em;
}

/* Animations */

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  /*backface-visibility: hidden;
  perspective: 1000px;*/
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.grow-shrink {
    animation-name: grow-shrink;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

@keyframes grow-shrink {
    0% { transform: scale(1); }
    30% { transform: scale(1.1); }
    100% { transform: scale(1); }
}